<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PubliFaceFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PubliFaceFilter.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value>c:\my-pictures</value>
            </setting>
            <setting name="TakePictureText" serializeAs="String">
                <value>Say Cheese</value>
            </setting>
            <setting name="TakePictureTimeSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PictureSavedTimeSeconds" serializeAs="String">
                <value>5</value>
            </setting>
        </PubliFaceFilter.Properties.Settings>
    </userSettings>
</configuration>