<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PubliFaceFilter.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <PubliFaceFilter.Properties.Settings>
            <setting name="SavePath" serializeAs="String">
                <value>c:\my-pictures</value>
            </setting>
            <setting name="TakePictureText" serializeAs="String">
                <value>Say Cheese</value>
            </setting>
            <setting name="TakePictureTimeSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="PictureSavedTimeSeconds" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="SFTPHost" serializeAs="String">
                <value>visualear.stackstorage.com</value>
            </setting>
            <setting name="SFTPPort" serializeAs="String">
                <value>22</value>
            </setting>
            <setting name="SFTPUsername" serializeAs="String">
                <value>pubface@visualear.stackstorage.com</value>
            </setting>
            <setting name="SFTPPassword" serializeAs="String">
                <value>r1TY1J3gPRnCG7soO5e7mSYgxn0</value>
            </setting>
            <setting name="UpdateInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="PictureSavedText" serializeAs="String">
                <value>Find your picture at www.com</value>
            </setting>
            <setting name="IdleTime" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Masks" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>/Library/demos/threejs/anonymous</string>
                        <string>/Library/demos/threejs/butterflies</string>
                        <string>/Library/demos/threejs/casa_de_papel</string>
                        <string>/Library/demos/threejs/celFace</string>
                        <string>/Library/demos/threejs/cloud</string>
                        <string>/Library/demos/threejs/cube</string>
                        <string>/Library/demos/threejs/dog_face</string>
                        <string>/Library/demos/threejs/faceDeform</string>
                        <string>/Library/demos/threejs/fireworks</string>
                        <string>/Library/demos/threejs/football_makeup</string>
                        <string>/Library/demos/threejs/glassesVTO</string>
                        <string>/Library/demos/threejs/gltf_fullScreen</string>
                        <string>/Library/demos/threejs/halloween_spider</string>
                        <string>/Library/demos/threejs/luffys_hat_part1</string>
                        <string>/Library/demos/threejs/luffys_hat_part2</string>
                        <string>/Library/demos/threejs/matrix</string>
                        <string>/Library/demos/threejs/miel_pops</string>
                        <string>/Library/demos/threejs/multiCubes</string>
                        <string>/Library/demos/threejs/multiLiberty</string>
                        <string>/Library/demos/threejs/rupy_helmet</string>
                        <string>/Library/demos/threejs/tiger</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>356a192b7913b04c54574d18c28d46e6395428ab</value>
            </setting>
            <setting name="IdleVideoPath" serializeAs="String">
                <value>C:\</value>
            </setting>
            <setting name="TextSize" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="TextBackground" serializeAs="String">
                <value>#ffffff</value>
            </setting>
            <setting name="TextForeground" serializeAs="String">
                <value>#000000</value>
            </setting>
            <setting name="TakePictureTextTime" serializeAs="String">
                <value>5</value>
            </setting>
        </PubliFaceFilter.Properties.Settings>
    </userSettings>
</configuration>