<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DynamicLanguageRuntime" version="1.3.0" targetFramework="net48" />
  <package id="IronPython" version="2.7.11" targetFramework="net48" />
  <package id="MaterialDesignColors" version="2.0.4-ci53" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.3.0-ci53" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1018-prerelease" targetFramework="net48" />
  <package id="System.Drawing.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
</packages>