<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MaterialDesignColors" version="2.0.4-ci53" targetFramework="net48" />
  <package id="MaterialDesignThemes" version="4.3.0-ci53" targetFramework="net48" />
  <package id="Microsoft.Web.WebView2" version="1.0.1018-prerelease" targetFramework="net48" />
</packages>