body {
    font-family: Helvetica Neu, Arial, sans-serif;
}

#jeeFaceFilterCanvas {
    z-index: 0;
    max-height: 100%;
    left: auto;
    top: auto;
    width: 100vmin;
    transform: translate(0,0) rotateY(180deg);
    position: static;
}

.canvasContainer {
    position: relative;
    margin: 0 auto;
    text-align: center;
}

#openMouthInstruction {
    position: absolute;
    z-index: 10000;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    text-shadow: 0 0 2px black;
    display: none;
}

#canvasVideoEffect {
    z-index: 0;
    max-height: 100%;
    left: 50%;
    top: 0;
    width: 100vmin;
    transform: translate(-50%,0) rotateY(180deg);
    position: absolute;
    height: 100vh;
    pointer-events: none;
}

.frameCanvas {
    z-index: 0;
    max-height: 100%;
    left: 50%;
    top: 0;
    width: 100vmin;
    transform: translate(-50%,0) rotateY(180deg);
    position: absolute;
    height: 100vh;
    pointer-events: none;
}
